
#container {
   min-height:100%;
   position:relative;
}

.body-text {
  text-align: left;
  padding: 100px;
  z-index: 5;
  color: white;
  min-height: calc(100vh - 130px);
}

.index-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 100px;
  z-index: 5;
  color: white;
  min-height: calc(100vh - 130px);
}


h1 {
  font-family: 'Rubik', sans-serif !important;
  color: white !important;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

#fronth3 {
  color: white;
}
