
#container {
   min-height:100%;
   position:relative;
}

.body-text {
  text-align: left;
  width: 70%;
  margin: 150px auto;
  z-index: 5;
}

.portfolio-image {
  width: 350px;
  min-width: 200px;
  box-shadow: 1px 1px 1px grey;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.portfolio-card {
  margin: ;
  margin-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 2px 2px -2px gray;
}

.language {
  height: 30px;
  margin-right: 10px;
}

h1 {
  font-family: 'Rubik', sans-serif !important;
  color: white !important;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

p {
  color: white;
}

.project {
  text-decoration: none !important;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.project:hover {
  text-decoration: none !important;
  color: white;
  box-shadow: 0 3px 2px -2px white;
  transition: box-shadow 0.4s ease-in-out;
}

#fronth3 {
  color: white;
}

